@model IEnumerable<OnlinePollingSystem.Models.Poll>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Home </h2>

<p>
    @Html.ActionLink("New Poll", "NewPoll", "Poll", null, new { @class = "btn btn-primary" })
</p>



<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> Title </th>
            <th> User </th>
            <th> Date </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var poll in Model)
        {
            <tr>
                <td> @Html.ActionLink(poll.Title, "Details", "Poll", new { poll.Id }, null)</td>


                <td> @poll.PostedBy </td>

                <td> @poll.PostDate </td>

            </tr>

        }
    </tbody>
</table>